body {
  margin: 0;
  font-family: Arial;
  background: #0d0d0d;
  color: white;
}

.card {
  margin: 12px;
  padding: 16px;
  background: #1c1c1c;
  border-radius: 16px;
}

button {
  width: 100%;
  padding: 18px;
  margin: 8px 0;
  font-size: 18px;
  border-radius: 14px;
  border: none;
  background: #2a2a2a;
  color: white;
}

button:active {
  transform: scale(0.98);
}